# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# HDwiki

## HDwiki缓存
/data/cache
/data/view
uploads
data
logo.gif
favicon.ico
sitemap*.gz
baidu.xml